# Missing Data Imputation¶

simulate MCAR data or MAR dataimplement common missing data imputation methods
(optional) compare the performance of missing data imputation methods on an analysis you have done before.

# demonstrate MCAR, MAR, and NMAR.

In [59]:
import numpy as np
import pandas as pd
from sklearn import datasets

In [60]:
# IRIS is included in sci-kit learn. We can directly load it.
# See documentation here: https://scikit-learn.org/stable/auto_examples/datasets/plot_iris_dataset.html
irisRaw = datasets.load_iris()

# Convert it to a pandas dataframe for better visualization
iris = pd.DataFrame(data=irisRaw.data, columns=irisRaw.feature_names)
iris

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

# MCAR

random proportion of the data and replace them NaN.

In [61]:
iris_MCAR = iris.copy()

In [62]:
# Set the missingness rate at 30%
missing = 0.3

# Only introduce missing rate to the `sepal length (cm)`.
iris_MCAR.loc[iris_MCAR.sample(frac=missing).index, 'sepal length (cm)'] = np.nan

iris_MCAR

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  NaN               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  NaN               3.2                1.3               0.2
3                  NaN               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                NaN               3.0                5.2               2.0
148                NaN               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [57]:
#iterate through all columns and introduce 20% missing to all variables.
for col in iris_MCAR.columns:
    iris_MCAR.loc[iris_MCAR.sample(frac=missing).index, col] = np.nan

In [63]:
missing=0.2
iris_MCAR.loc[iris_MCAR.sample(frac=missing).index, 'sepal length (cm)'] = np.nan

iris_MCAR

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  NaN               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  NaN               3.2                1.3               0.2
3                  NaN               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                NaN               3.0                5.2               2.0
148                NaN               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [64]:
missing=0.2
iris_MCAR.loc[iris_MCAR.sample(frac=missing).index, 'sepal width (cm)'] = np.nan

iris_MCAR

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  NaN               3.5                1.4               0.2
1                  4.9               NaN                1.4               0.2
2                  NaN               3.2                1.3               0.2
3                  NaN               3.1                1.5               0.2
4                  5.0               NaN                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                NaN               NaN                5.2               2.0
148                NaN               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [65]:
missing=0.2
iris_MCAR.loc[iris_MCAR.sample(frac=missing).index, 'petal length (cm)'] = np.nan

iris_MCAR

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  NaN               3.5                1.4               0.2
1                  4.9               NaN                1.4               0.2
2                  NaN               3.2                1.3               0.2
3                  NaN               3.1                NaN               0.2
4                  5.0               NaN                NaN               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                NaN               1.9
147                NaN               NaN                5.2               2.0
148                NaN               3.4                5.4               2.3
149                5.9               3.0                NaN               1.8

[150 rows x 4 columns]

In [66]:
missing=0.2
iris_MCAR.loc[iris_MCAR.sample(frac=missing).index, 'petal width (cm)'] = np.nan

iris_MCAR

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  NaN               3.5                1.4               NaN
1                  4.9               NaN                1.4               0.2
2                  NaN               3.2                1.3               NaN
3                  NaN               3.1                NaN               0.2
4                  5.0               NaN                NaN               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                NaN               1.9
147                NaN               NaN                5.2               2.0
148                NaN               3.4                5.4               2.3
149                5.9               3.0                NaN               1.8

[150 rows x 4 columns]

# MAR

One easy way to generate an MAR data is to use the weights parameter in pd.sample(). 
The default ‘None’ results in equal probability weighting. 
If passed a Series, sample() will align with target object on index. Using a DataFrame column as weights, 
rows with larger value in the the specified column are more likely to be sampled.

In [67]:
iris_MAR = iris.copy()

In [68]:
# Set the missingness rate at 30%
missing = 0.3

# Only introduce missing rate to the `sepal length (cm)`.
iris_MAR.loc[iris_MAR.sample(frac=missing, weights = 'sepal width (cm)').index, 'sepal length (cm)'] = np.nan

iris_MAR

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  NaN               3.2                1.3               0.2
3                  NaN               3.1                1.5               0.2
4                  NaN               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                NaN               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

# Deletion Methods

The most straightforward way to handle missing data is to ignore them. 
There are two different types of deletion methods:

Listwise deletion (or sometimes known as casewise deletion)
Pairwise deletion

# Listwise deletion

It produces unbiased estimation only when the data is MCAR.
However, the reduced sample size leads to reduced power. 
In python, we can use dropna() to perform a listwise deletion. 
as we introduced 30% of missing into the dataset, the sample size is now 105.

In [69]:
iris_MCAR_listwise = iris_MCAR.copy()
iris_MCAR_listwise.dropna()

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
6                  4.6               3.4                1.4               0.3
10                 5.4               3.7                1.5               0.2
11                 4.8               3.4                1.6               0.2
16                 5.4               3.9                1.3               0.4
17                 5.1               3.5                1.4               0.3
19                 5.1               3.8                1.5               0.3
21                 5.1               3.7                1.5               0.4
40                 5.0               3.5                1.3               0.3
43                 5.0               3.5                1.6               0.6
44                 5.1               3.8                1.9               0.4
46                 5.1               3.8                1.6               0.2
50                 7.0               3.2                4.7               1.4
52                 6.9               3.1                4.9               1.5
54                 6.5               2.8                4.6               1.5
58                 6.6               2.9                4.6               1.3
59                 5.2               2.7                3.9               1.4
62                 6.0               2.2                4.0               1.0
66                 5.6               3.0                4.5               1.5
68                 6.2               2.2                4.5               1.5
69                 5.6               2.5                3.9               1.1
73                 6.1               2.8                4.7               1.2
77                 6.7               3.0                5.0               1.7
86                 6.7               3.1                4.7               1.5
89                 5.5               2.5                4.0               1.3
90                 5.5               2.6                4.4               1.2
95                 5.7               3.0                4.2               1.2
101                5.8               2.7                5.1               1.9
102                7.1               3.0                5.9               2.1
105                7.6               3.0                6.6               2.1
109                7.2               3.6                6.1               2.5
111                6.4               2.7                5.3               1.9
112                6.8               3.0                5.5               2.1
122                7.7               2.8                6.7               2.0
128                6.4               2.8                5.6               2.1
129                7.2               3.0                5.8               1.6
130                7.4               2.8                6.1               1.9
137                6.4               3.1                5.5               1.8
145                6.7               3.0                5.2               2.3

# Pairwise deletion

It only skips the null observation when the it is needed.
Therefore, it avoid the data loss issue in listwise deletion to a certain degree. 
All methods in pandas such as mean, median, sum, etc. uses pairwise deletion by default. 
You can see that pairwise deletion performs a bit better on MCAR than MAR data (closer to the true estimation).

In [70]:
iris_MCAR_pairwise = iris_MCAR.copy()
iris_MAR_pairwise = iris_MAR.copy()

print("Mean estimation in MCAR data with pairwise deletion",
      iris_MCAR_pairwise['sepal length (cm)'].mean(), 
     "\nSD estimation in MCAR data with pairwise deletion",
      iris_MCAR_pairwise['sepal length (cm)'].std()
     )
print("Mean estimation in MAR data with pairwise deletion",
      iris_MAR_pairwise['sepal length (cm)'].mean(), 
     "\nSD estimation in MAR data with pairwise deletion",
      iris_MAR_pairwise['sepal length (cm)'].std()
     )
print("Mean estimation in the original data",
      iris['sepal length (cm)'].mean(),
      "\nSD estimation in the original data",
      iris['sepal length (cm)'].std()
     )

Mean estimation in MCAR data with pairwise deletion 5.891463414634144
SD estimation in MCAR data with pairwise deletion 0.8340295194930019
Mean estimation in MAR data with pairwise deletion 5.889523809523809
SD estimation in MAR data with pairwise deletion 0.8032295161892745
Mean estimation in the original data 5.843333333333335
SD estimation in the original data 0.8280661279778629

# Single Imputation¶

"guess" the missing value with various imputation methods.

For MCAR data, simple imputation produces 
unbiased estimation of marginal means,
but underestimates variances, and overestimate correlations.

In [71]:
from sklearn.impute import SimpleImputer
iris_MAR_mean = iris_MAR.copy()

In [72]:
imp = SimpleImputer(missing_values=np.nan, strategy='mean')
imp.fit(iris_MAR)
print(imp.transform(iris_MAR))

[[5.1        3.5        1.4        0.2       ]
 [4.9        3.         1.4        0.2       ]
 [5.88952381 3.2        1.3        0.2       ]
 [5.88952381 3.1        1.5        0.2       ]
 [5.88952381 3.6        1.4        0.2       ]
 [5.4        3.9        1.7        0.4       ]
 [5.88952381 3.4        1.4        0.3       ]
 [5.         3.4        1.5        0.2       ]
 [4.4        2.9        1.4        0.2       ]
 [5.88952381 3.1        1.5        0.1       ]
 [5.4        3.7        1.5        0.2       ]
 [4.8        3.4        1.6        0.2       ]
 [5.88952381 3.         1.4        0.1       ]
 [4.3        3.         1.1        0.1       ]
 [5.88952381 4.         1.2        0.2       ]
 [5.88952381 4.4        1.5        0.4       ]
 [5.4        3.9        1.3        0.4       ]
 [5.1        3.5        1.4        0.3       ]
 [5.88952381 3.8        1.7        0.3       ]
 [5.1        3.8        1.5        0.3       ]
 [5.4        3.4        1.7        0.2       ]
 [5.1        3.7        1.5        0.4       ]
 [4.6        3.6        1.         0.2       ]
 [5.88952381 3.3        1.7        0.5       ]
 [4.8        3.4        1.9        0.2       ]
 [5.         3.         1.6        0.2       ]
 [5.         3.4        1.6        0.4       ]
 [5.2        3.5        1.5        0.2       ]
 [5.2        3.4        1.4        0.2       ]
 [4.7        3.2        1.6        0.2       ]
 [4.8        3.1        1.6        0.2       ]
 [5.88952381 3.4        1.5        0.4       ]
 [5.88952381 4.1        1.5        0.1       ]
 [5.5        4.2        1.4        0.2       ]
 [4.9        3.1        1.5        0.2       ]
 [5.         3.2        1.2        0.2       ]
 [5.5        3.5        1.3        0.2       ]
 [5.88952381 3.6        1.4        0.1       ]
 [4.4        3.         1.3        0.2       ]
 [5.88952381 3.4        1.5        0.2       ]
 [5.         3.5        1.3        0.3       ]
 [5.88952381 2.3        1.3        0.3       ]
 [5.88952381 3.2        1.3        0.2       ]
 [5.         3.5        1.6        0.6       ]
 [5.1        3.8        1.9        0.4       ]
 [4.8        3.         1.4        0.3       ]
 [5.88952381 3.8        1.6        0.2       ]
 [4.6        3.2        1.4        0.2       ]
 [5.3        3.7        1.5        0.2       ]
 [5.         3.3        1.4        0.2       ]
 [7.         3.2        4.7        1.4       ]
 [6.4        3.2        4.5        1.5       ]
 [6.9        3.1        4.9        1.5       ]
 [5.88952381 2.3        4.         1.3       ]
 [6.5        2.8        4.6        1.5       ]
 [5.88952381 2.8        4.5        1.3       ]
 [6.3        3.3        4.7        1.6       ]
 [5.88952381 2.4        3.3        1.        ]
 [5.88952381 2.9        4.6        1.3       ]
 [5.2        2.7        3.9        1.4       ]
 [5.         2.         3.5        1.        ]
 [5.9        3.         4.2        1.5       ]
 [6.         2.2        4.         1.        ]
 [5.88952381 2.9        4.7        1.4       ]
 [5.6        2.9        3.6        1.3       ]
 [6.7        3.1        4.4        1.4       ]
 [5.6        3.         4.5        1.5       ]
 [5.88952381 2.7        4.1        1.        ]
 [6.2        2.2        4.5        1.5       ]
 [5.6        2.5        3.9        1.1       ]
 [5.9        3.2        4.8        1.8       ]
 [6.1        2.8        4.         1.3       ]
 [6.3        2.5        4.9        1.5       ]
 [6.1        2.8        4.7        1.2       ]
 [6.4        2.9        4.3        1.3       ]
 [5.88952381 3.         4.4        1.4       ]
 [6.8        2.8        4.8        1.4       ]
 [6.7        3.         5.         1.7       ]
 [6.         2.9        4.5        1.5       ]
 [5.7        2.6        3.5        1.        ]
 [5.5        2.4        3.8        1.1       ]
 [5.88952381 2.4        3.7        1.        ]
 [5.8        2.7        3.9        1.2       ]
 [5.88952381 2.7        5.1        1.6       ]
 [5.4        3.         4.5        1.5       ]
 [5.88952381 3.4        4.5        1.6       ]
 [6.7        3.1        4.7        1.5       ]
 [6.3        2.3        4.4        1.3       ]
 [5.88952381 3.         4.1        1.3       ]
 [5.88952381 2.5        4.         1.3       ]
 [5.5        2.6        4.4        1.2       ]
 [6.1        3.         4.6        1.4       ]
 [5.88952381 2.6        4.         1.2       ]
 [5.88952381 2.3        3.3        1.        ]
 [5.6        2.7        4.2        1.3       ]
 [5.7        3.         4.2        1.2       ]
 [5.7        2.9        4.2        1.3       ]
 [6.2        2.9        4.3        1.3       ]
 [5.88952381 2.5        3.         1.1       ]
 [5.7        2.8        4.1        1.3       ]
 [6.3        3.3        6.         2.5       ]
 [5.8        2.7        5.1        1.9       ]
 [7.1        3.         5.9        2.1       ]
 [6.3        2.9        5.6        1.8       ]
 [6.5        3.         5.8        2.2       ]
 [7.6        3.         6.6        2.1       ]
 [5.88952381 2.5        4.5        1.7       ]
 [7.3        2.9        6.3        1.8       ]
 [6.7        2.5        5.8        1.8       ]
 [5.88952381 3.6        6.1        2.5       ]
 [6.5        3.2        5.1        2.        ]
 [6.4        2.7        5.3        1.9       ]
 [6.8        3.         5.5        2.1       ]
 [5.7        2.5        5.         2.        ]
 [5.8        2.8        5.1        2.4       ]
 [6.4        3.2        5.3        2.3       ]
 [6.5        3.         5.5        1.8       ]
 [5.88952381 3.8        6.7        2.2       ]
 [7.7        2.6        6.9        2.3       ]
 [5.88952381 2.2        5.         1.5       ]
 [6.9        3.2        5.7        2.3       ]
 [5.6        2.8        4.9        2.        ]
 [7.7        2.8        6.7        2.        ]
 [6.3        2.7        4.9        1.8       ]
 [6.7        3.3        5.7        2.1       ]
 [5.88952381 3.2        6.         1.8       ]
 [5.88952381 2.8        4.8        1.8       ]
 [6.1        3.         4.9        1.8       ]
 [6.4        2.8        5.6        2.1       ]
 [5.88952381 3.         5.8        1.6       ]
 [7.4        2.8        6.1        1.9       ]
 [5.88952381 3.8        6.4        2.        ]
 [6.4        2.8        5.6        2.2       ]
 [5.88952381 2.8        5.1        1.5       ]
 [6.1        2.6        5.6        1.4       ]
 [7.7        3.         6.1        2.3       ]
 [5.88952381 3.4        5.6        2.4       ]
 [5.88952381 3.1        5.5        1.8       ]
 [6.         3.         4.8        1.8       ]
 [5.88952381 3.1        5.4        2.1       ]
 [6.7        3.1        5.6        2.4       ]
 [6.9        3.1        5.1        2.3       ]
 [5.8        2.7        5.1        1.9       ]
 [6.8        3.2        5.9        2.3       ]
 [6.7        3.3        5.7        2.5       ]
 [5.88952381 3.         5.2        2.3       ]
 [6.3        2.5        5.         1.9       ]
 [6.5        3.         5.2        2.        ]
 [6.2        3.4        5.4        2.3       ]
 [5.9        3.         5.1        1.8       ]]

# Regression Imputation/Conditional Mean Imputation¶

In this case, you are modeling the dependency through the observed covariate(s). 
This can work fairly well if you can identify the correct covariate(s) that are related to the missingness.

You can basically view the missing values as  Ytest
  and the observed values as  Ytrain. 
And use the observed completed cases to train a prediction model and then predict the missing values with the incompelte cases.

In [73]:
from sklearn import linear_model
iris_MAR_regression = iris_MAR.copy()

In [74]:
iris_MAR_regression_model = iris_MAR_regression.copy().dropna()

model = linear_model.LinearRegression()
Xs = iris_MAR_regression_model['sepal width (cm)'].values.reshape(-1, 1)
ys = iris_MAR_regression_model['sepal length (cm)'].values.reshape(-1, 1)
model.fit(X = Xs, y = ys)

null_index = iris_MAR_regression['sepal length (cm)'].isnull()

na_result = model.predict(iris_MAR_regression[null_index]['sepal width (cm)'].values.reshape(-1, 1))


iris_MAR_regression.loc[iris_MAR_regression['sepal length (cm)'].isnull(), 'sepal length (cm)'] = na_result.reshape(len(na_result),)

iris_MAR_regression

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0             5.100000               3.5                1.4               0.2
1             4.900000               3.0                1.4               0.2
2             5.791194               3.2                1.3               0.2
3             5.852650               3.1                1.5               0.2
4             5.545369               3.6                1.4               0.2
..                 ...               ...                ...               ...
145           5.914106               3.0                5.2               2.3
146           6.300000               2.5                5.0               1.9
147           6.500000               3.0                5.2               2.0
148           6.200000               3.4                5.4               2.3
149           5.900000               3.0                5.1               1.8

[150 rows x 4 columns]

# Nearest neighbours or hot-deck imputation

Here is the sci-kit learn implementation. By default, it draws from all the variables.

In [75]:
from sklearn.impute import KNNImputer
iris_MAR_knn = iris_MAR.copy()

In [76]:
knn_imputer = KNNImputer(n_neighbors=2, weights="uniform")

knn_imputer.fit_transform(iris_MAR_knn)

array([[5.1 , 3.5 , 1.4 , 0.2 ],
       [4.9 , 3.  , 1.4 , 0.2 ],
       [4.8 , 3.2 , 1.3 , 0.2 ],
       [4.85, 3.1 , 1.5 , 0.2 ],
       [5.3 , 3.6 , 1.4 , 0.2 ],
       [5.4 , 3.9 , 1.7 , 0.4 ],
       [5.15, 3.4 , 1.4 , 0.3 ],
       [5.  , 3.4 , 1.5 , 0.2 ],
       [4.4 , 2.9 , 1.4 , 0.2 ],
       [4.85, 3.1 , 1.5 , 0.1 ],
       [5.4 , 3.7 , 1.5 , 0.2 ],
       [4.8 , 3.4 , 1.6 , 0.2 ],
       [4.65, 3.  , 1.4 , 0.1 ],
       [4.3 , 3.  , 1.1 , 0.1 ],
       [5.45, 4.  , 1.2 , 0.2 ],
       [5.45, 4.4 , 1.5 , 0.4 ],
       [5.4 , 3.9 , 1.3 , 0.4 ],
       [5.1 , 3.5 , 1.4 , 0.3 ],
       [5.25, 3.8 , 1.7 , 0.3 ],
       [5.1 , 3.8 , 1.5 , 0.3 ],
       [5.4 , 3.4 , 1.7 , 0.2 ],
       [5.1 , 3.7 , 1.5 , 0.4 ],
       [4.6 , 3.6 , 1.  , 0.2 ],
       [5.  , 3.3 , 1.7 , 0.5 ],
       [4.8 , 3.4 , 1.9 , 0.2 ],
       [5.  , 3.  , 1.6 , 0.2 ],
       [5.  , 3.4 , 1.6 , 0.4 ],
       [5.2 , 3.5 , 1.5 , 0.2 ],
       [5.2 , 3.4 , 1.4 , 0.2 ],
       [4.7 , 3.2 , 1.6 , 0.2 ],
       [4.8 , 3.1 , 1.6 , 0.2 ],
       [5.05, 3.4 , 1.5 , 0.4 ],
       [5.3 , 4.1 , 1.5 , 0.1 ],
       [5.5 , 4.2 , 1.4 , 0.2 ],
       [4.9 , 3.1 , 1.5 , 0.2 ],
       [5.  , 3.2 , 1.2 , 0.2 ],
       [5.5 , 3.5 , 1.3 , 0.2 ],
       [5.3 , 3.6 , 1.4 , 0.1 ],
       [4.4 , 3.  , 1.3 , 0.2 ],
       [4.9 , 3.4 , 1.5 , 0.2 ],
       [5.  , 3.5 , 1.3 , 0.3 ],
       [4.4 , 2.3 , 1.3 , 0.3 ],
       [4.8 , 3.2 , 1.3 , 0.2 ],
       [5.  , 3.5 , 1.6 , 0.6 ],
       [5.1 , 3.8 , 1.9 , 0.4 ],
       [4.8 , 3.  , 1.4 , 0.3 ],
       [5.35, 3.8 , 1.6 , 0.2 ],
       [4.6 , 3.2 , 1.4 , 0.2 ],
       [5.3 , 3.7 , 1.5 , 0.2 ],
       [5.  , 3.3 , 1.4 , 0.2 ],
       [7.  , 3.2 , 4.7 , 1.4 ],
       [6.4 , 3.2 , 4.5 , 1.5 ],
       [6.9 , 3.1 , 4.9 , 1.5 ],
       [5.55, 2.3 , 4.  , 1.3 ],
       [6.5 , 2.8 , 4.6 , 1.5 ],
       [6.25, 2.8 , 4.5 , 1.3 ],
       [6.3 , 3.3 , 4.7 , 1.6 ],
       [5.35, 2.4 , 3.3 , 1.  ],
       [6.1 , 2.9 , 4.6 , 1.3 ],
       [5.2 , 2.7 , 3.9 , 1.4 ],
       [5.  , 2.  , 3.5 , 1.  ],
       [5.9 , 3.  , 4.2 , 1.5 ],
       [6.  , 2.2 , 4.  , 1.  ],
       [6.45, 2.9 , 4.7 , 1.4 ],
       [5.6 , 2.9 , 3.6 , 1.3 ],
       [6.7 , 3.1 , 4.4 , 1.4 ],
       [5.6 , 3.  , 4.5 , 1.5 ],
       [5.7 , 2.7 , 4.1 , 1.  ],
       [6.2 , 2.2 , 4.5 , 1.5 ],
       [5.6 , 2.5 , 3.9 , 1.1 ],
       [5.9 , 3.2 , 4.8 , 1.8 ],
       [6.1 , 2.8 , 4.  , 1.3 ],
       [6.3 , 2.5 , 4.9 , 1.5 ],
       [6.1 , 2.8 , 4.7 , 1.2 ],
       [6.4 , 2.9 , 4.3 , 1.3 ],
       [6.05, 3.  , 4.4 , 1.4 ],
       [6.8 , 2.8 , 4.8 , 1.4 ],
       [6.7 , 3.  , 5.  , 1.7 ],
       [6.  , 2.9 , 4.5 , 1.5 ],
       [5.7 , 2.6 , 3.5 , 1.  ],
       [5.5 , 2.4 , 3.8 , 1.1 ],
       [5.55, 2.4 , 3.7 , 1.  ],
       [5.8 , 2.7 , 3.9 , 1.2 ],
       [6.3 , 2.7 , 5.1 , 1.6 ],
       [5.4 , 3.  , 4.5 , 1.5 ],
       [6.35, 3.4 , 4.5 , 1.6 ],
       [6.7 , 3.1 , 4.7 , 1.5 ],
       [6.3 , 2.3 , 4.4 , 1.3 ],
       [5.7 , 3.  , 4.1 , 1.3 ],
       [5.4 , 2.5 , 4.  , 1.3 ],
       [5.5 , 2.6 , 4.4 , 1.2 ],
       [6.1 , 3.  , 4.6 , 1.4 ],
       [5.7 , 2.6 , 4.  , 1.2 ],
       [5.35, 2.3 , 3.3 , 1.  ],
       [5.6 , 2.7 , 4.2 , 1.3 ],
       [5.7 , 3.  , 4.2 , 1.2 ],
       [5.7 , 2.9 , 4.2 , 1.3 ],
       [6.2 , 2.9 , 4.3 , 1.3 ],
       [5.35, 2.5 , 3.  , 1.1 ],
       [5.7 , 2.8 , 4.1 , 1.3 ],
       [6.3 , 3.3 , 6.  , 2.5 ],
       [5.8 , 2.7 , 5.1 , 1.9 ],
       [7.1 , 3.  , 5.9 , 2.1 ],
       [6.3 , 2.9 , 5.6 , 1.8 ],
       [6.5 , 3.  , 5.8 , 2.2 ],
       [7.6 , 3.  , 6.6 , 2.1 ],
       [6.35, 2.5 , 4.5 , 1.7 ],
       [7.3 , 2.9 , 6.3 , 1.8 ],
       [6.7 , 2.5 , 5.8 , 1.8 ],
       [6.55, 3.6 , 6.1 , 2.5 ],
       [6.5 , 3.2 , 5.1 , 2.  ],
       [6.4 , 2.7 , 5.3 , 1.9 ],
       [6.8 , 3.  , 5.5 , 2.1 ],
       [5.7 , 2.5 , 5.  , 2.  ],
       [5.8 , 2.8 , 5.1 , 2.4 ],
       [6.4 , 3.2 , 5.3 , 2.3 ],
       [6.5 , 3.  , 5.5 , 1.8 ],
       [6.95, 3.8 , 6.7 , 2.2 ],
       [7.7 , 2.6 , 6.9 , 2.3 ],
       [6.25, 2.2 , 5.  , 1.5 ],
       [6.9 , 3.2 , 5.7 , 2.3 ],
       [5.6 , 2.8 , 4.9 , 2.  ],
       [7.7 , 2.8 , 6.7 , 2.  ],
       [6.3 , 2.7 , 4.9 , 1.8 ],
       [6.7 , 3.3 , 5.7 , 2.1 ],
       [7.2 , 3.2 , 6.  , 1.8 ],
       [6.15, 2.8 , 4.8 , 1.8 ],
       [6.1 , 3.  , 4.9 , 1.8 ],
       [6.4 , 2.8 , 5.6 , 2.1 ],
       [6.4 , 3.  , 5.8 , 1.6 ],
       [7.4 , 2.8 , 6.1 , 1.9 ],
       [6.95, 3.8 , 6.4 , 2.  ],
       [6.4 , 2.8 , 5.6 , 2.2 ],
       [6.75, 2.8 , 5.1 , 1.5 ],
       [6.1 , 2.6 , 5.6 , 1.4 ],
       [7.7 , 3.  , 6.1 , 2.3 ],
       [6.45, 3.4 , 5.6 , 2.4 ],
       [6.4 , 3.1 , 5.5 , 1.8 ],
       [6.  , 3.  , 4.8 , 1.8 ],
       [6.6 , 3.1 , 5.4 , 2.1 ],
       [6.7 , 3.1 , 5.6 , 2.4 ],
       [6.9 , 3.1 , 5.1 , 2.3 ],
       [5.8 , 2.7 , 5.1 , 1.9 ],
       [6.8 , 3.2 , 5.9 , 2.3 ],
       [6.7 , 3.3 , 5.7 , 2.5 ],
       [6.65, 3.  , 5.2 , 2.3 ],
       [6.3 , 2.5 , 5.  , 1.9 ],
       [6.5 , 3.  , 5.2 , 2.  ],
       [6.2 , 3.4 , 5.4 , 2.3 ],
       [5.9 , 3.  , 5.1 , 1.8 ]])