#(a) use LDA to model the topics in the comments, and 
#(b) train a simple classifier to predict the evaluation based on the comment.

#By utilizing NLP and its components, one can organize the massive chunks of text data, 
#perform numerous automated tasks and solve a wide range of problems such as – automatic summarization, machine translation, named entity recognition, 
#relationship extraction, sentiment analysis, speech recognition, and topic segmentation etc.

#teaching, course content, examination, lab work, library facilities and extra curricular activities. 
#Data for each category includes two columns, where each column can have any of the three labels,
#i.e. 0 (neutral), 1 (positive) and -1 (negative).

In [120]:
import pandas as pd
import numpy as np

In [121]:
!ls

2022 Natural Language Processing for Twitter Conference Backchannel Analysis-miniLA.ipynb
2ICE2 (1).ipynb
2ICE2.ipynb
2ICE3.ipynb
2ICE4.ipynb
2ICE5.ipynb
ACA1.html
ACA1revised-Jingyuan, Siyu, Zhen.html
ACA3.ipynb
ACA4-Siyu, Jingyuan, Zhen.html
Analysis Challenge Assignment 2-5.html
Analysis Challenge Assignment 3.html
Applications
CollegeScorecard.csv
Desktop
Documents
Downloads
ICE0.ipynb
ICE1.ipynb
ICE1_Data.csv
ICE2.ipynb
ICE2_data_eval (3).csv
ICE2_data_eval (4).csv
ICE3.ipynb
ICE3_Data.csv
ICE4.ipynb
ICE4_Data.csv
ICE5.ipynb
ICE5_Data.csv
ICE6.ipynb
ICE6_Data.csv
ICE7.ipynb
ICE8.ipynb
ICE8_Data.csv
LA Mini Project1 - Siyu, Jingyuan, Zhen.html
Library
Mini LA assignment2 - Jingyuan, Siyu, Zhen.html
Mini LA assignment3 - Jingyuan, Siyu, Zhen.ipynb
Movies
Music
PaladinTemp56543
Pictures
Public
Untitled.ipynb
Users
Zotero
aca2_dataset_training.csv
as.csv
ct.csv
iCloud云盘（归档）
opt

In [122]:
Eval = pd.read_csv('ICE2_data_eval (3).csv')
Eval

,teaching,teaching.1,coursecontent,coursecontent.1,examination,Examination,labwork,labwork.1,library_facilities,library_facilities,extracurricular,extracurricular.1
0,0,teacher are punctual but they should also give...,0,content of courses are average,1,examination pattern is good,-1,"not satisfactory, lab work must include latest...",0,library facilities are good but number of book...,1,extracurricular activities are excellent and p...
1,1,Good,-1,Not good,1,Good,1,Good,-1,Not good,1,Good
2,1,Excellent lectures are delivered by teachers a...,1,All courses material provide very good knowled...,1,Exam pattern is up to the mark and the Cgpa de...,1,Lab work is properly covered in the labs by th...,1,Library facilities are excellent in terms of g...,1,Extra curricular activities also help students...
3,1,Good,-1,Content of course is perfectly in line with th...,-1,Again the university tests students of their a...,1,Good,0,Its the best thing i have seen in this univers...,-1,Complete wastage of time. Again this opinion i...
4,1,teachers give us all the information required ...,1,content of courses improves my knowledge,1,examination pattern is good,1,practical work provides detail knowledge of th...,1,library has huge collection of books from diff...,1,extracurricular activities increases mental an...
...,...,...,...,...,...,...,...,...,...,...,...,...
180,1,intraction is good and leacture delivery also ...,0,every one can tell depth of course but some on...,0,exam pattern is good and marks distribution is...,1,all labs and practical going on well,1,good,1,they all are held in super
181,1,all the given terms are good regarding the uni...,1,we are getting maximum knowledge,1,all are good,1,not bad,-1,library facilities are not good.They are not f...,1,good
182,1,All the terms are good regarding the universit...,1,Knowledge is maximum gained by reading books ...,0,The examination pattern is good .But time is n...,1,Labs are upto the mark.,1,They are good,1,the extracurricular activities held in univers...
183,-1,Some of the teacher are un experienced. Also t...,0,Its fine but it should focus more towards prac...,1,MCQ pattern is quite good and efficient way fo...,-1,Our labs do not have all facalities.,1,We have a good library with all facalities.,1,Our university has lot of extracurricular goin...
184,1,IT IS GOING GOOD,-1,HAVE TO IMPROVE,0,PAPER CHECKING IS VERY HARD REMAINING IS GOOD,1,ALL PRACTICAL WORK IS GOOD,-1,THEY IS NO PROBLEM WITH THEM\n,1,IT IS THE BEST THING IN THIS UNIVERSITY I LIKE IT

In [123]:
evalclean=pd.melt(Eval, id_vars=['teaching'], var_name='category',value_name='comment')
evalclean

,teaching,category,comment
0,0,teaching.1,teacher are punctual but they should also give...
1,1,teaching.1,Good
2,1,teaching.1,Excellent lectures are delivered by teachers a...
3,1,teaching.1,Good
4,1,teaching.1,teachers give us all the information required ...
...,...,...,...
2030,1,extracurricular.1,they all are held in super
2031,1,extracurricular.1,good
2032,1,extracurricular.1,the extracurricular activities held in univers...
2033,-1,extracurricular.1,Our university has lot of extracurricular goin...
2034,1,extracurricular.1,IT IS THE BEST THING IN THIS UNIVERSITY I LIKE IT

In [124]:
# import the regex library
import re
import string

In [125]:

def clean_text(text):
    #Make text lowercase, remove punctuations, and remove numbers
    text = str(text)
    text = text.lower()
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)
    text = re.sub('[0-9]+','', text)
    return text

In [126]:
evalclean['comment'] = evalclean['comment'].map(clean_text)
evalclean

,teaching,category,comment
0,0,teaching.1,teacher are punctual but they should also give...
1,1,teaching.1,good
2,1,teaching.1,excellent lectures are delivered by teachers a...
3,1,teaching.1,good
4,1,teaching.1,teachers give us all the information required ...
...,...,...,...
2030,1,extracurricular.1,they all are held in super
2031,1,extracurricular.1,good
2032,1,extracurricular.1,the extracurricular activities held in univers...
2033,-1,extracurricular.1,our university has lot of extracurricular goin...
2034,1,extracurricular.1,it is the best thing in this university i like it

In [127]:
evalclean['category'] = evalclean['category'].map(clean_text)
evalclean

,teaching,category,comment
0,0,teaching,teacher are punctual but they should also give...
1,1,teaching,good
2,1,teaching,excellent lectures are delivered by teachers a...
3,1,teaching,good
4,1,teaching,teachers give us all the information required ...
...,...,...,...
2030,1,extracurricular,they all are held in super
2031,1,extracurricular,good
2032,1,extracurricular,the extracurricular activities held in univers...
2033,-1,extracurricular,our university has lot of extracurricular goin...
2034,1,extracurricular,it is the best thing in this university i like it

#Organizing Data

#Corpus: a collection of text
#Document-Term Matrix: word counts in matrix format

#tokenize the text/corpus： break down text into words.then mark the occurence frequency and/or the order of each word for each text in the corpus. 
#Then we can represent a corpus in the quantitative way. And it is called Document-Term Matrix, where every row will represent a different document and every column will represent a different word.

#documents get longer and complicated, we may be dealing with a very wide and sparse matrix
#Bag-of-words: it dose not matter to order the words, Just knowing the semantic meaning of each words can already tell us a lot.
#Stop words:getting rid of Stop words: Examples of stop words in English are “a”, “the”, “is”, “are” and etc.

#We can automate this using scikit-learn's CountVectorizer() to build a document-term matrix in a BOW style without the common stop words fairly easily.

#In cv= CountVectorizer(), CountVectorizer() randomly assigns a number to each word in a process called tokenizing. Then, it counts the number of occurrences of words and saves it to cv. At this point, we’ve only assigned a method to cv.

In [128]:
# We are going to create a document-term matrix using CountVectorizer
from sklearn.feature_extraction.text import CountVectorizer

cv = CountVectorizer(stop_words='english')

commentCV = cv.fit_transform(evalclean['comment'])
commentCV_dtm = pd.DataFrame(commentCV.toarray(), columns = cv.get_feature_names())

commentCV_dtm.index = evalclean['comment'].index
commentCV_dtm

,abilities,ability,able,abroad,absolutely,absurd,abt,academic,accessable,accitivties,...,works,world,worth,write,writing,wrong,yeah,year,years,yes
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2030,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2031,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2032,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2033,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2034,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

#Exploratory Analysis

#check the distribution of the positive and negative comments.

In [129]:
evalclean.groupby(['teaching','category']).count().unstack()

                    comment                                                    \
category  libraryfacilities coursecontent examination extracurricular labwork
teaching
-1                       13            26          26              26      26
 0                       35            70          70              70      70
 1                      137           274         274             274     274


category libraryfacilities teaching
teaching
-1                      13       13
 0                      35       35
 1                     137      137

#document-term matrix. We can calculate the term frequency to get the most frequently used words in all documents.

In [130]:
totalCT = commentCV_dtm.sum()
commentCV_dtm[totalCT.sort_values(ascending = False).index[:20]].sum()

good          654
excellent      74
students       62
university     61
library        48
books          47
course         43
pattern        40
lab            39
teachers       39
activities     37
knowledge      36
time           32
content        31
teaching       31
paper          30
checking       30
work           30
average        29
exam           29
dtype: int64

#Topic Modeling

#Particularly, we will use one of the most frequently used TM methods, Latent Dirichlet Allocation (LDA).

#To use a topic modeling technique, you need to provide (1) a document-term matrix and (2) the number of topics you would like the algorithm to pick up.

In [131]:
!pip install -U gensim
from gensim import matutils, models
import scipy.sparse

Requirement already satisfied: gensim in ./opt/anaconda3/lib/python3.8/site-packages (4.1.2)
Requirement already satisfied: numpy>=1.17.0 in ./opt/anaconda3/lib/python3.8/site-packages (from gensim) (1.20.1)
Requirement already satisfied: smart-open>=1.8.1 in ./opt/anaconda3/lib/python3.8/site-packages (from gensim) (6.0.0)
Requirement already satisfied: scipy>=0.18.1 in ./opt/anaconda3/lib/python3.8/site-packages (from gensim) (1.6.2)

Then we need to transpose the document term matrix to term-document matrix and use sparse.csr_matrix() to compress a matrix that is in rows and prepare the data in genism format and obtain a dictionary id2word of the locations of each term in the tdm.

In [132]:
tdm = commentCV_dtm.transpose()
sparse_counts = scipy.sparse.csr_matrix(tdm)
corpus = matutils.Sparse2Corpus(sparse_counts)
id2word = dict((v, p) for p, v in cv.vocabulary_.items())

#Once we have the corpus and id2word ready, the rest of the topic modeling is simple: Pass everything to we need to LdaModel() and specify a few other parameters (e.g., the number of topics and the number of passes). Let's start the num_topic at 3, see if the results make sense.

passes is the number of laps the model will take through corpus. The greater the number of passes, the more accurate the model will be. A lot of passes can be slow on a very large corpus.

In [133]:
lda = models.LdaModel(corpus=corpus, id2word=id2word, num_topics=3, passes=20)
lda.print_topics()

[(0,
  '0.098*"excellent" + 0.055*"university" + 0.044*"best" + 0.029*"super" + 0.029*"providing" + 0.029*"extra" + 0.029*"curricular" + 0.029*"sports" + 0.028*"good" + 0.022*"activities"'),
 (1,
  '0.075*"activities" + 0.074*"university" + 0.064*"extracurricular" + 0.063*"good" + 0.062*"lot" + 0.058*"students" + 0.047*"helps" + 0.032*"best" + 0.032*"getting" + 0.019*"like"'),
 (2,
  '0.221*"good" + 0.019*"interaction" + 0.016*"better" + 0.015*"faults" + 0.015*"felt" + 0.015*"overcome" + 0.015*"built" + 0.015*"excllent" + 0.014*"source" + 0.014*"quilities"')]

#Text Classifier¶

In [143]:
#split the dataset into two
from sklearn.model_selection import train_test_split

Xs_docs = evalclean['comment']
Ys_evals = evalclean['teaching']
xs_training, xs_test, y_training, y_test = train_test_split(Xs_docs, Ys_evals, test_size = 0.2)

use the classic Naive Bayes algorithm. The only difference here is we are going to import the MultinomialNB because the label has more than two levels.

In [146]:
from sklearn.naive_bayes import MultinomialNB
cv = CountVectorizer(stop_words='english')
features = cv.fit_transform(xs_training)
model = MultinomialNB()
model.fit(features, y_training)
feature_test = cv.transform(xs_test)
print(model.score(feature_test,y_test))

0.7321867321867321

In [147]:
from sklearn import svm

# Prepare the training features
cv = CountVectorizer(stop_words='english')
features = cv.fit_transform(xs_training)

# Train SVM classifier
model = svm.SVC()
model.fit(features, y_training)

# Prepare the testing xs
feature_test = cv.transform(xs_test)

# Print the model accuracy
print(model.score(feature_test,y_test))

0.7248157248157249